/*body {*/
/*  margin: 0;*/
/*  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',*/
/*    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',*/
/*    sans-serif;*/
/*  -webkit-font-smoothing: antialiased;*/
/*  -moz-osx-font-smoothing: grayscale;*/
/*}*/

/*code {*/
/*  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',*/
/*    monospace;*/
/*}*/

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply focus:outline-none;
  }
  .default-btn {
    @apply bg-green-600 hover:bg-green-700  border-2 border-green-600 hover:border-green-700 text-white font-bold py-2 px-6 rounded-lg;
  }

  .edit-store-btn {
    @apply bg-blue-400 hover:bg-blue-500 border-2 border-blue-400 hover:border-blue-500 text-white  py-1 px-5 rounded-lg;
  }

  .crete-coupon-btn {
    @apply bg-gray-600 hover:bg-gray-700 border-2 border-gray-600 hover:border-gray-700 text-white  py-1 px-5 rounded-lg;
  }

  .default-btn-alt {
    @apply border-2 border-gray-500 hover:border-gray-400 text-gray-500 hover:text-gray-400 text-white font-bold py-2 px-6 rounded-lg;
  }
  .nav-links {
    @apply text-gray-300  hover:text-white block px-3 py-2 rounded-md text-base font-medium text-center;
  }

  .nav-links-bg {
    @apply text-gray-300  hover:text-white px-3 py-2 rounded-md text-sm font-medium;
  }

  .nav-links-bg-active {
    @apply bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium;
  }

  .nav-links-active {
    @apply text-white block px-3 py-2 rounded-md text-sm font-medium text-center;
  }

  .user-menu {
    @apply origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5 focus:outline-none;
  }

  .footer-social-icons li {
    @apply hover:text-gray-200;
  }

  /*Forms*/
  .label {
    @apply block mb-2 text-xs uppercase font-bold text-gray-600;
  }
  .form-error {
    @apply text-red-500 absolute left-0 top-16 block mt-1 text-sm;
  }
  .form-success {
    @apply text-green-700 absolute left-0 top-16 block mt-1 text-sm;
  }
  .error-text {
    @apply text-red-500 block mt-1 text-sm;
  }
  input,
  textarea {
    @apply w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-gray-200 focus:border-gray-300;
  }

  /*Modals*/
  .modal-content {
    @apply inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all w-full py-2 sm:align-middle sm:max-w-lg sm:w-full;
  }
  .modal-backdrop {
    @apply fixed inset-0 transition-opacity;
  }
  .modal {
    @apply fixed z-10 inset-0 overflow-y-auto;
  }

  /*Alerts*/
  #alerts {
    @apply max-w-sm fixed z-10 left-3 md:left-0 right-3 md:right-12 top-28 mx-auto;
  }
}

.z--1 {
  z-index: -1 !important;
}
textarea {
  resize: none;
}
textarea.ta10em {
  height: 10em;
}
.min-h-screen-90 {
  min-height: 90vh;
}

footer {
  background-color: #484747;
}
.h-list li {
  display: inline;
}
.nav-links-active,
.nav-links-bg-active {
  background-color: rgba(6, 78, 59, 0.5);
}
.nav-links-bg:hover,
.nav-links:hover {
  background-color: rgba(6, 78, 59, 0.3);
}
.footer-social-icons li {
  margin-right: 1rem;
}
.footer-social-icons li:last-child {
  margin-right: 0;
}
body {
  background-color: black;
  font-family: "Nunito", sans-serif !important;
}

nav {
  backdrop-filter: blur(10px);
  background-color: transparent !important;
  /*background-color: black !important;*/
}

.header {
  color: #ffff;
  background-image: -webkit-linear-gradient(130deg, #16584c, #ffffff 71%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo {
  /*font-family: Helvetica Neue, Helvetica, Arial, sans-serif;*/
  /*font-size: 6rem;*/
  /*font-weight:  100;*/
  /*letter-spacing: 2px;*/
  /*text-align: center;*/
  color: #c2efe7;
  /*background-image: -webkit-linear-gradient(92deg, #16584c, #ffffff);*/
  /*-webkit-background-clip: text;*/
  /*-webkit-text-fill-color: transparent;*/
  /*-webkit-animation: hue 10s infinite linear;*/
}
.user-icon {
  background: rgb(175, 164, 54);
  background: linear-gradient(
    90deg,
    rgba(175, 164, 54, 1) 0%,
    rgba(121, 34, 9, 1) 45%,
    rgba(255, 0, 97, 1) 100%
  );
}

@keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

.switch-wrapper {
  position: relative;
  min-height: 100vh;
}

.switch-wrapper > div {
  position: relative;
  left: 0;
  right: 0;
  /*min-height: 100vh;*/
}

body.hidden-scrollbar::-webkit-scrollbar {
  visibility: hidden;
}
